{% extends "website/index.html" %}

{% block title %}About Mohammad-Ali A'RÂBI{% endblock %}
{% block h1 %}About Mohammad-Ali Aerâbi{% endblock %}

{% block class-navbar-about %}class="active"{% endblock %}

{% block contents %}
<div class="container-fluid text-center">
  <div class="row text-justify">
    <div class="col-sm-12">
      <p>
        <b>Mohammad-Ali Aerâbi</b> (officially: Mohammad Ali Arabi) is a Iranian software developer and researcher.
      </p>
      <h3>Name</h3>
      <p>
        Both first name and family name are Arabic.
      </p>
    </div>
  </div>
</div>
{% endblock %}