<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ page.html_title }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><span class="logo">Aerâbi</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li {% block class-navbar-blog %}{% endblock %}><a href="{% url 'blog' %}">Abhandlungen</a></li>
        <li {% block class-navbar-about %}{% endblock %}><a href="{% url 'works' %}">Betrieb</a></li>
        <li {% block class-navbar-cv %}{% endblock %}><a href="{% url 'cv' %}">Curriculum Vitæ</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center" id="top">
  <h1>{% block h1 %}{{ page.h1 }}{% endblock %}</h1>
  <p>{% block subtitle %}{{ page.subtitle }}{% endblock %}</p>
</div>
<div class="container-fluid text-center" id="summary">
  <p>
	{% block quote %}
    {{ page.quote }}
    {% endblock %}
  </p>
</div>

{% block contents %}
{% autoescape off %}{{ page.text }}{% endautoescape %}
{% endblock %}

<footer class="container-fluid text-center">
  <a href="#top" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Created by Mohammad-Ali Aerâbi</p>
</footer>

</body>
</html>
