<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Mohammad-Ali A'RÂBI{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="logo">Aerâbi</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="">Curriculum Vitæ</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center" id="top">
  <h1>{% block h1 %}Mohammad-Ali Aerâbi{% endblock %}</h1>
  <p>{% block subtitle %}researcher | software developer{% endblock %}</p>
</div>
<div class="container-fluid text-center" id="summary">
  <p>
	{% block quote %}
    Veniet tempus, quo ista quae nunc latent, in lucem dies extrahat et longioris aevi diligentia
    {% endblock %}
  </p>
</div>

{% block contents %}
<div class="container-fluid text-center">
  <a href="#"><h2>Logisch-Mathematische Abhandlungen</h2></a>
  <div class="row text-justify">
    <div class="col-sm-4">
      <h3>Aquarium</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="more">
        <a href="#">mehr...</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Aquarium</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="more">
        <a href="#">mehr...</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Aquarium</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="more">
        <a href="#">mehr...</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<footer class="container-fluid text-center">
  <a href="#top" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Created by Mohammad-Ali Aerâbi</p>
</footer>

</body>
</html>